.product-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:0.6rem;
    padding-top: var(--space-md);
    align-items: stretch;


  }
  product-card {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
    overflow: hidden;
  }
  .product-img {
    flex-basis: 100%;
    width: 100%;
    aspect-ratio:1;
    object-fit: cover;
    transition: 0.1s ease;
    
  }

  product-card h3 {
    flex-basis: 100%;
    font-size: 1em;
    color: var(--mode-other-color);
  }
  
  product-card h4 {
    align-content: flex-end;
    font-size: 0.8em;
    color: var(--mode-other-color);
  }

  like-wrapper{
    display: flex;
    align-self: flex-end;
    gap: 0.3rem;
    margin-left: auto; 
    
  }
  .like-count{
    align-items: center;
    font-size: 0.8em;
  }
  .fav-icon{
    svg{
      width: 1em;
    }
  }
  .fav-icon.active{
    svg{
      fill:var(--primary-color);
    }
  }

@media (max-width:1024px) {
  .product-content{
    grid-template-columns: repeat(4,1fr);
  }
}
@media (max-width:768px) {
  .product-content{
    grid-template-columns: repeat(2,1fr);
  }
}
.header-cat-nav.profile{
    left: 0;
    width: auto;
}
.cat-list {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 100%;
    background-color: inherit;
    }
.cat-item {
    padding: var(--space-md);
    background-color: inherit;
}
.cat-item:hover{
    background-color: var(--hover-color);
}
.cat-item:hover .dropdown {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    ;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    border: var(--border-solid);
    background-color: var(--background-color);
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    overflow: hidden;
    z-index: 9999;
}
.dropdown li {
    padding: var(--space-sm);
    text-align:left;
    background-color: inherit;
    cursor: pointer;
}
.dropdown li:hover {
    background: var(--hover-color);
    color: var(--text-colors)
}
.dropdown li a {
    color: var(--mode-other-color);
}
.dropdown li a:hover {
    color: var(--text-colors);
}
@media (min-width:769px) {
    .header-cat-nav.profile{
        .cat-list{
       flex-direction: column;
        };
        .cat-item{
        position: relative;
        }    
    }
}.product-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:0.6rem;
    padding-top: var(--space-md);
    align-items: stretch;


  }
  product-card {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
    overflow: hidden;
  }
  .product-img {
    flex-basis: 100%;
    width: 100%;
    aspect-ratio:1;
    object-fit: cover;
    transition: 0.1s ease;
    
  }

  product-card h3 {
    flex-basis: 100%;
    font-size: 1em;
    color: var(--mode-other-color);
  }
  
  product-card h4 {
    align-content: flex-end;
    font-size: 0.8em;
    color: var(--mode-other-color);
  }

  like-wrapper{
    display: flex;
    align-self: flex-end;
    gap: 0.3rem;
    margin-left: auto; 
    
  }
  .like-count{
    align-items: center;
    font-size: 0.8em;
  }
  .fav-icon{
    svg{
      width: 1em;
    }
  }
  .fav-icon.active{
    svg{
      fill:var(--primary-color);
    }
  }

@media (max-width:1024px) {
  .product-content{
    grid-template-columns: repeat(4,1fr);
  }
}
@media (max-width:768px) {
  .product-content{
    grid-template-columns: repeat(2,1fr);
  }
}